*.bat
# Development Tools.
Git
.mypy_cache/
.ruff_cache/
__pycache__/
.idea/
.vscode/

# Environments.
.venv*/
venv*/
conda_env*/
indextts2runtime

# Python Bytecode.
*.py[cod]

# Distribution/Packaging.
/build/
/dist/
*.egg-info/
.pypirc
*.whl

# Operating System Junk.
*.DS_Store
Thumbs.db
desktop.ini

# IndexTTS.
/cache/
/checkpoints/*
!/checkpoints/*.yaml
/outputs/
